wavves/lanes/20260723_n8n-template-build/pack/01-charge-research-a.json
{
  "name": "Charge Research A \u2014 Wave Packet",
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "topic",
              "type": "string"
            },
            {
              "name": "locks",
              "type": "string"
            },
            {
              "name": "charge_role",
              "type": "string"
            },
            {
              "name": "proof_job",
              "type": "string"
            },
            {
              "name": "research_brief",
              "type": "string"
            }
          ]
        }
      },
      "id": "44145dc5-3214-47c0-a0b3-1e85fca16b0c",
      "name": "Sub-workflow Entry",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1111111-1111-4111-8111-111111111111",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "a2222222-2222-4222-8222-222222222222",
              "name": "locks",
              "value": "={{ $json.locks }}",
              "type": "string"
            },
            {
              "id": "a3333333-3333-4333-8333-333333333333",
              "name": "charge_role",
              "value": "={{ $json.charge_role || 'research_a' }}",
              "type": "string"
            },
            {
              "id": "a4444444-4444-4444-8444-444444444444",
              "name": "proof_job",
              "value": "={{ $json.proof_job }}",
              "type": "string"
            },
            {
              "id": "a5555555-5555-4555-8555-555555555555",
              "name": "research_brief",
              "value": "={{ $json.research_brief }}",
              "type": "string"
            },
            {
              "id": "a6666666-6666-4666-8666-666666666666",
              "name": "charge_id",
              "value": "A",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "06f01477-328b-4d43-961b-60a1044c43bb",
      "name": "Propagate Locks And Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research topic: {{ $json.topic }}\n\nCharge role: {{ $json.charge_role }}\nCharge id: {{ $json.charge_id }}\n\nStanding locks (do not reopen):\n{{ $json.locks }}\n\nProof job context (informational for this charge):\n{{ $json.proof_job }}\n\nOptional research brief from parent:\n{{ $json.research_brief }}\n\nReturn structured findings for a parallel research wave. Stay inside core scope: no term_id, no paragraph-tunnel. Prefer citable claims with short source labels. If evidence is thin, say so in status.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Charge Research A in a bounded parallel research wave. Produce an honest findings summary, a list of sources/claims, and a status of done or blocked. Do not invent URLs. Do not reopen locked decisions. Do not mention Cursor slash skills or plugin install steps."
        }
      },
      "id": "0291b26c-a05c-40e2-bba8-9cc051a9992e",
      "name": "Research Agent A",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "8a217905-828b-4415-b705-e496e84abd74",
      "name": "Chat Model Credential Slot",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -40,
        240
      ]
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"findings_summary\": \"Short synthesis of what Charge A found on the topic.\",\n  \"sources_claims\": [\n    {\n      \"claim\": \"One concrete claim\",\n      \"source_label\": \"Publisher or doc name\",\n      \"confidence\": \"high\"\n    }\n  ],\n  \"status\": \"done\"\n}"
      },
      "id": "b533f8b5-3cfc-4371-9528-f0d7f75c6e1b",
      "name": "Charge Return Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        200,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1111111-1111-4111-8111-111111111111",
              "name": "charge_id",
              "value": "={{ $('Propagate Locks And Topic').item.json.charge_id }}",
              "type": "string"
            },
            {
              "id": "b2222222-2222-4222-8222-222222222222",
              "name": "charge_role",
              "value": "={{ $('Propagate Locks And Topic').item.json.charge_role }}",
              "type": "string"
            },
            {
              "id": "b3333333-3333-4333-8333-333333333333",
              "name": "topic",
              "value": "={{ $('Propagate Locks And Topic').item.json.topic }}",
              "type": "string"
            },
            {
              "id": "b4444444-4444-4444-8444-444444444444",
              "name": "locks",
              "value": "={{ $('Propagate Locks And Topic').item.json.locks }}",
              "type": "string"
            },
            {
              "id": "b5555555-5555-4555-8555-555555555555",
              "name": "findings_summary",
              "value": "={{ $json.output && $json.output.findings_summary ? $json.output.findings_summary : ($json.findings_summary ? $json.findings_summary : $json.output) }}",
              "type": "string"
            },
            {
              "id": "b6666666-6666-4666-8666-666666666666",
              "name": "sources_claims",
              "value": "={{ $json.output && $json.output.sources_claims ? $json.output.sources_claims : ($json.sources_claims ? $json.sources_claims : []) }}",
              "type": "array"
            },
            {
              "id": "b7777777-7777-4777-8777-777777777777",
              "name": "status",
              "value": "={{ $json.output && $json.output.status ? $json.output.status : ($json.status ? $json.status : 'blocked') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4faf3209-c97d-4e07-86db-0c977f765c09",
      "name": "Emit Charge Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Charge Research A (embedded)\nAttach your chat-model credential on **Chat Model Credential Slot**.\nDefault node is OpenAI-compatible; swap the model node for other providers.\nNo separate import required for Creator Portal single-file upload.",
        "height": 300,
        "width": 360,
        "color": 7
      },
      "id": "8c763083-d528-4808-a03d-225ea7985ccf",
      "name": "Charge A Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -320
      ]
    }
  ],
  "connections": {
    "Sub-workflow Entry": {
      "main": [
        [
          {
            "node": "Propagate Locks And Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Propagate Locks And Topic": {
      "main": [
        [
          {
            "node": "Research Agent A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent A": {
      "main": [
        [
          {
            "node": "Emit Charge Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model Credential Slot": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent A",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Charge Return Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Research Agent A",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": []
}
